.post {
    display: grid;
    border: solid;
    margin: 20px 0 10px 0;
    background-color: #282c34;
    width: 490px;
    opacity: .86;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.post-type {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

.post-header {
    align-items: center;
    width: 220px;
    margin-left: 130px;
}

.post-title {
    display: grid;
    grid-template-columns: 100px 280px 100px;
    align-items: center;
    height: 50px;
}

.post-contents {
    background-color: white;
    border-radius: 50% 50% 0 0;
}

.comment {
    font-size: 20px;
    margin-bottom: 12px;
}

.comments {
    display: grid;
    grid-template-columns: 90px 300px 90px;
}

.comment-section {
    display: grid;
    border: groove;
    width: 300px;
    padding-left: -50px;
    background-color: #282c34;
    color: white;
}

.comments-delete-section {
    background-color: white;
}


h1 {
    margin-top: 10px;
}

.spotify-image {
    height: 250px;
    width: 250px;
}

.spotify-artist-image {
    margin-top: 20px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.description {
    font-size: 18px;
    
}

.horizontal-line {
    border-width: 3px;
    border-color: grey;
}

.title {
    font-weight: bold;
}

.delete-btn {
    margin: 4px 0;
}

.delete-button {
    background-color: white;
    color: black;
}

button {
    border-style: none;
    background-color: #282c34;
    color: white;
}

.each-comment {
    margin: -8px 0 0 0;
}

