.post {
    display: grid;
    border: solid;
    margin-top: 20px;
    background-color: #282c34;
    width: 490px;
    opacity: .86;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.post-type {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

.post-title {
    display: grid;
    grid-template-columns: 100px 280px 100px;
    align-items: center;
}

.post-contents {
    background-color: white;
    border-radius: 50% 50% 0 0;
}

.comment {
    font-size: 20px;
}

.comments {
    display: grid;
    grid-template-columns: 90px 300px 90px;
}

.comment-section {
    display: grid;
    border: groove;
    width: 300px;
    opacity: .78;
    background-color: rgb(209, 221, 231);
}

.comments-delete-section {
    background-color: white;
}

.post:hover {
    opacity: 1;
}

h1 {
    margin-top: 10px;
}
