.post {
    display: grid;
    border: solid;
    margin-top: 20px;
    width: 480px;
    opacity: .86;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.comment {
    font-size: 20px;
}

.comments {
    display: grid;
    grid-template-columns: 90px 300px 90px;
}

.comment-section {
    display: grid;
    border: groove;
    width: 300px;
    opacity: .78;
    background-color: rgb(209, 221, 231);
}


.post:hover {
    opacity: 1;
}

h1 {
    margin-top: 10px;
}
