.comment-text-area {
    width: 250px;
    height: 100px;
    color: black;
    font-size: 18px;
}

.add-comment-btn {
    background-color: white;
    color: black;
    border-radius: 5%;
    padding: 0 5px;
    margin-bottom: 5px;
}