.NavBar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 0 10px 15px
  }
  
  .NavBar-link {
    margin: 0 10px;
  }
  
  .NavBar-welcome {
    color: rgb(204, 180, 136);
  }

  .NavBtn {
      border-style: none;
      font-size: 16px;
      border-radius: 35%;
      margin-left: 20px;
      background-color: rgb(4, 19, 99);
  }

  .NavBtnTxt {
    color: rgb(236, 164, 29); 
  }


  .NavBtn:hover {
    color: rgb(56, 69, 139); 
    text-decoration: none;
    background-color: rgb(255, 206, 44); 
  }