.addPost {
    color: black;
}

.post-choice {
    justify-content: start;
}

.add-post {
    margin-top: 70px;
}

.add-post-input {
    margin-top: 15px;
}

.desc-input {
    height: 60px;
    width: 220px;
}